@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

:root {
  --color-primary: #00a54f;
  --boton-padding: 20px 40px;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

.nav {
  position: fixed;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0;
  height: 48px;
  font-size: 1.2rem;
  display: flex;
  z-index: 100;
}

.nav__items {
  padding: 14px;
  align-items: center;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.nav__items:hover {
  color: #00a54f;
}

.logo {
  margin-right: auto;
  padding: 0 50px;
}

.container {
  z-index: 100;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}

.subtitle {
  color: var(--color-primary);
  font-size: 2.5rem;
  margin-bottom: 35px;
}

.hero {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/3714060/pexels-photo-3714060.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.hero .container {
  padding: 0;
}

.contact__items {
  display: inline-block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 0 92px;
  display: flex;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
}

.contact__items i {
  margin-right: 10px;
}

.contact__items:hover {
  padding-top: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}

.contact {
  background: black;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 42px;
  font-size: 1rem;
  display: flex;
  z-index: 100;
}

.contact a {
  font-size: 14px;
  transition: color 0.4s ease;
  height: 100%;
}

.contact a:hover {
  color: white;
  font-weight: 500;
}

.hero__container {
  display: flex;
  height: calc(100vh - 70px);
  align-items: center;
  color: #fff;
}

.hero__texts {
  width: 50%;
  margin-bottom: 50px;
}

.hero__title {
  color: #00a54f;
  font-size: 5rem;
}

.hero__subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 15px 0;
}

.hero__cta {
  display: inline-block;
  background: var(--color-primary);
  padding: var(--boton-padding);
  color: white;
  text-decoration: none;
  border-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.hero__cta:hover {
  background: white;
  color: var(--color-primary);
}

.hero__cta:active {
  background: #dcdcdc;
}

/* About */

.presentation {
  padding-top: 0;
  text-align: center;
  margin-top: 50px;
}

.explication {
  width: 80%;
  margin: 0 auto;
}

.explication__cta {
  display: inline-block;
  margin-top: 30px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
}

.explication__cta:hover {
  background: #5d75ce;
}

.explication__cta:active {
  background: #536abc;
}

/* lose */

.lose {
  background: #f2f2f2;
}

.lose__grid {
  display: grid;
  height: 550px;
  grid-template-areas:
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
  gap: 10px;
}

.lose__items {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lose__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.lose__items:nth-of-type(1) {
  grid-area: img1;
}

.lose__items:nth-of-type(2) {
  grid-area: img2;
}

.lose__items:nth-of-type(3) {
  grid-area: img3;
}

.lose__items:nth-of-type(4) {
  grid-area: img4;
}

.lose__items:nth-of-type(5) {
  grid-area: img5;
}

.lose__hover {
  position: absolute;
  background: rgba(255, 151, 151, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(100%);
}

.lose__items:hover .lose__hover {
  transform: translateX(0%);
}

.lose__icon {
  margin-top: 10px;
  font-size: 30px;
}

.lose__title.title2 {
  position: absolute;
  font-size: 1.5em;
  top: 55%;
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
  background: rgb(0 0 0 / 30%);
  height: 500px;
  padding-top: 1rem;
}

.lose__items:hover .title2 {
  display: none;
}

.content {
  padding-top: 0;
  text-align: center;
}

.content__cta {
  display: inline-block;
  margin-bottom: 70px;
  background: var(--color-primary);
  color: #fff;
  text-decoration: none;
  padding: var(--boton-padding);
  border-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.content__cta:hover {
  background: white;
  color: var(--color-primary);
}

.content__cta:active {
  background: #536abc;
}

/* We */

.we-container {
  background-image: url(../elementos/images/fondo.png);
  padding-top: 60px;
  text-align: center;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.we__text {
  display: flex;
  flex-direction: column;
  padding: 0 39px;
}
.we__p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.we__img {
  margin-bottom: 10px;
}

.menuppal {
  display: none;
}


/* Responsive */


@media only screen and (max-width: 1024px) {
	.menuppal {
	  display: block;
	}
  
	.contact {
	  display: none;
	}
  
	.nav .nav__items {
	  display: none;
	}
  
	.hero {
	  height: 100vh;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-attachment: fixed;
	  background-position: center;
	  position: relative;
	}
  
	.hamburger {
	  position: fixed;
	  background-color: transparent;
	  left: 0;
	  top: 0;
	  height: 30px;
	  width: 30px;
	  padding: 20px 20px;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  -webkit-transition: -webkit-transform 0.25s
		cubic-bezier(0.05, 1.04, 0.72, 0.98);
	  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	  z-index: 1002;
	  cursor: pointer;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	.hamburger.is-active {
	  background-color: none;
	}
	._layer {
	  background: #00a54f ;
	  margin-bottom: 4px;
	  border-radius: 2px;
	  width: 28px;
	  height: 4px;
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
	}
	.hamburger:hover .-top {
	  -webkit-transform: translateY(-100%);
	  -ms-transform: translateY(-100%);
	  transform: translateY(-100%);
	}
	.hamburger:hover .-bottom {
	  -webkit-transform: translateY(50%);
	  -ms-transform: translateY(100%);
	  transform: translateY(100%);
	}
	.hamburger.is-active .-top {
	  -webkit-transform: translateY(200%) rotate(45deg) !important;
	  -ms-transform: translateY(200%) rotate(45deg) !important;
	  transform: translateY(200%) rotate(45deg) !important;
	}
	.hamburger.is-active .-mid {
	  opacity: 0;
	}
	.hamburger.is-active .-bottom {
	  -webkit-transform: translateY(-200%) rotate(135deg) !important;
	  -ms-transform: translateY(-200%) rotate(135deg) !important;
	  transform: translateY(-200%) rotate(135deg) !important;
	}
  
	.menuppal.is_active {
	  transform: translate3d(0px, 0px, 0px);
	}
	.menuppal {
	  background-color: rgba(255, 255, 255, 0.11);
	  bottom: 0;
	  height: 100%;
	  left: 0;
	  overflow-y: scroll;
	  position: fixed;
	  top: 0;
	  transform: translate3d(0px, -100%, 0px);
	  transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
	  width: 100%;
	  z-index: 1001;
	}
	.menuppal ul {
	  margin: 0;
	  padding: 0;
	}
	.menuppal ul li {
	  list-style: none;
	  text-align: center;
	  font-family: Verdadna, Arial, Helvetica;
	  font-size: 1.5rem;
	  line-height: 3em;
	  height: 3em;
	  color: #00a54f;
	  text-transform: none;
	  font-weight: bold;
	}
	.menuppal ul li a {
	  text-decoration: none;
	  color: #00a54f;
	}
	.menuppal ul li a:hover {
	  text-decoration: none;
	  color: #333;
	}
  
	.hero__container {
	  display: flex;
	  height: center;
	  align-items: center;
	  color: #fff;
	}
  
	.hero__texts {
	  width: 100%;
	  margin-bottom: 272px;
	}
  
	.hero__title {
	  font-size: 2.5rem;
	}
  
	.we__img {
	  width: 250px;
	}
  }
  
