<div class="respmenu">
    <input type="checkbox">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
    <nav>
        <a href="#" class="nav__items"><i class="home"></i>Inicio</a>
        <a href="#services" class="nav__items"><i class="services"></i>Servicios</a>
        <a href="#contacto" class="nav__items"><i class="contactanos"></i>Contáctanos</a>
        <a href="/login" class="nav__items nav__items--cta">Ingreso Veterinarios</a>
    </nav>
</div>