<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/estilosinicio.css"/>
    <link rel="stylesheet" href="resources/css/estilosresumenmascotas.css">
    <title>Resumen Mascota</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a href="./inicio.html" class="nav__items"><i class="fas fa-user"></i>Clientes</a>
            <a href="./mascotas.html" class="nav__items"><i class="fas fa-paw"></i>Mascotas</a>
            <!-- <a href="./form_historial.html" class="nav__items"><i class="fas fa-dollar-sign"></i>Tienda</a> -->
            <a href="./index.html" class="nav__items"><i class="fas fa-user-plus add"></i>Añadir Usuario</a>
            <a href="./index.html" class="nav__items"><i class="fas fa-sign-out-alt"></i>Cerrar Sesión</a>
        </nav>
    </header>
    <main class="main_info">
        <div class="info">
            <div class="pet">
                <img src="./elementos/images/mascot.svg" alt="pet">
                <h2>PUCHY</h2>
            </div>
            <div>
                <table class="info_pet">
                    <tr>
                        <td>Numero de historia</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Especie</td>
                        <td>Mishka</td>
                    </tr>
                    <tr>
                        <td>Raza</td>
                        <td>Mishka</td>
                    </tr>
                    <tr>
                        <td>Sexo</td>
                        <td>Mishka</td>
                    </tr>
                    <tr>
                        <td>Fecha de nacimiento</td>
                        <td>Mishka</td>
                    </tr>
                    <tr>
                        <td>Estado reproductivo</td>
                        <td>Mishka</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>

</html>
Copyright © Laura Aristizabal - Luis Ramos - David Marín